.greet {
  position: relative;
  padding: 10px;
  background-color: #eee;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 10px;

  transition: background-color .3s;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  };
};

.login {
  position: absolute;
  left: 10px;
  top: 7.5px;
}

.greetSkills {
  position: absolute;
  right: 30px;
  top: -22.5%;
}